@page "/"

<PageTitle>Game Catalog</PageTitle>

<h1>Game Catalog</h1>

<table>
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>Genre</th>
        <th>Price</th>
        <th>Release Date</th>
        <th></th>
    </thead>
    <tbody>
        
    </tbody>
</table>
